@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===== GENERAL STYLES =======*/
:root {
  /* ==== COLOR ==== */
  --color-light-blue: #ebeff8;
  --color-dark-blue: #025c96;
  --color-icon-blue: #3991cf;
  --color-icon-background: #d4e5f3;
  --color-white: #ffffff;
  --color-dark: #1b2022;
  --color-dark-gray: rgb(98, 96, 96);
  --color-beige: #f0e9c8;
  --color-dark-beige: #c2ba92;
  /* ==== CONTAINER ==== */
  --container-lg: 75%;
  --container-md: 85%;
  --container-sm: 90%;

  /* ==== BORDER ==== */
  --border-round: 50%;
  --border-5: 5px;

  /* ==== TRANSITION ==== */
  --transition: 0.3s ease;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
  width: 100vw;
  overflow-x: hidden;
  line-height: 1.7;
}

.container {
  width: var(--container-lg);
  margin: 0 auto;
}
section {
  margin-top: 30px;
}
a {
  text-decoration: none;
  color: var(--color-dark);
  transition: var(--transition);
}
a:hover {
  color: var(--color-dark-gray);
}
.btn {
  border: none;
  cursor: pointer;

  width: max-content;
  padding: 10px 20px;

  border-radius: var(--border-5);
  transition: var(--transition);
}

.btn-light {
  background: var(--color-white);
  border: 1px solid var(--color-dark);
}

.btn-light:hover {
  background: var(--color-dark);
  color: var(--color-white);
}

.btn-beige {
  background: var(--color-beige);
}

.btn-beige:hover {
  background: var(--color-dark-beige);
}
/* ========== NAVBAR ========== */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 0;
  height: 80px;
}
.nav-menu {
  display: none;
}
/* nav left */
.nav-left {
  display: flex;
  align-items: center;
}

.nav-left h1 {
  margin-right: 20px;
  padding: 5px;
  width: 40px;
  height: 40px;
  
  border: 2px solid var(--color-dark);
  border-radius: var(--border-round);

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: block;
}

.nav-close {
  display: none;
}

.nav-left .nav-lists a {
  padding: 10px;
}

.nav-left .nav-lists a:hover {
  background: var(--color-dark);
  color: var(--color-white);
  border-radius: var(--border-5);
}
/* nav right */
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right a {
  padding: 10px;
  margin-right: 10px;
}
.nav-right a:hover {
  background: var(--color-dark);
  color: var(--color-white);
  border-radius: var(--border-5);
}
.nav-right button {
  font-size: 16px;
}

/* ===== HEADER ====== */

header {
  height: 100vh;
  overflow: hidden;
}
.container.header-container {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-left,
.header-right {
  flex: 1;
}

/* header left */

.header-left .header-left-top {
  font-size: 40px;
  font-weight: 700;

  margin-bottom: 20px;
}

.header-left .header-left-center {
  margin-bottom: 20px;
}
.header-left .header-left-center p {
  color: var(--color-dark-gray);
  margin-bottom: 5px;
}

.header-left .header-left-bottom {
  display: flex;
  align-items: center;
}
.header-left .header-left-bottom button {
  margin-right: 20px;
  font-size: 16px;
}
.header-left .header-left-bottom a {
  text-decoration: underline;
}

.header-left .header-left-bottom a:hover {
  color: var(--color-dark-gray);
}

/* header right */
.header-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right img {
  width: 100%;
  height: 80%;
  display: block;

  object-fit: cover;
  border-radius: 10%;
}
/* ====== DESCRIPTION ====== */
.description {
  background: var(--color-light-blue);
}
.container.description-container {
  padding: 60px 30px;
}
.description-wrapper {
  width: 80%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.description-left {
  font-size: 40px;
  font-weight: 700;
}

.description-right {
  border-left: 3px solid var(--color-icon-blue);
  padding-left: 20px;
  text-align: justify;
}
.description-right span {
  font-weight: 700;
}
.description-right a {
  text-decoration: underline;
}

/* ========= EXPLANATION ========= */
.container.explanation-container {
  display: flex;
  align-items: center;

  padding: 40px 0;
}

.explanation-left,
.explanation-right {
  flex: 1;
  padding: 30px;
}
/* explanation left */
.explanation-left {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}
.explanation-left-top {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  padding: 0 20px;
}
.explanation-left-top img:nth-of-type(1) {
  width: 30%;
  height: 150px;
  object-fit: cover;
  border-radius: var(--border-5);
}
.explanation-left-top img:nth-of-type(2) {
  width: 70%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-5);
}

.explanation-left-bottom {
  display: flex;
  gap: 10px;
  padding: 0 20px;
}
.explanation-left-bottom img:nth-of-type(1) {
  width: 60%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--border-5);
}
.explanation-left-bottom img:nth-of-type(2) {
  width: 40%;
  height: 180px;
  object-fit: cover;
  border-radius: var(--border-5);
}
/* explanation right */
.explanation-right h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.explanation-right p {
  text-align: justify;
  font-size: 16px;
}

/* ======== PARTICIPATE ====== */
.participate {
  background-color: var(--color-light-blue);
}
.container.participate-container {
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.participate-top {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 20px;
}

.participate-center {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--color-dark);
}
.participate-center .participate-center-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.participate-center .participate-center-items > * {
  margin-bottom: 10px;
}
.participate-center .participate-center-items .participate-center-icon {
  background: var(--color-icon-background);
  width: 30px;
  height: 30px;
  color: var(--color-icon-blue);
  border-radius: var(--border-5);

  display: flex;
  align-items: center;
  justify-content: center;
}
.participate-center .participate-center-items .participate-center-title {
  font-weight: 700;
}

.participate-center .participate-center-items .participate-center-desc {
  text-align: center;
}

.participate-bottom {
  margin-top: 20px;
}
/* CHALLENGE */
.challenge {
  margin-top: 0;
  background: var(--color-dark-blue);
  color: var(--color-white);
}
.container.challenge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.challenge-top {
  font-size: 30px;
  margin-bottom: 20px;
}
.challenge-center > * {
  margin-bottom: 10px;
}

.challenge-center .challenge-center-items {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.challenge-center .challenge-center-items .challenge-center-icon {
  margin-right: 20px;
  padding: 10px;

  border: 1px solid var(--color-white);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.challenge-bottom button {
  color: var(--color-dark-blue);
  font-weight: 700;
  font-size: 18px;

  padding: 5px 30px;
}

.challenge-bottom button:hover {
  background: var(--color-icon-blue);
}
/* ========= FOOTER =============*/
footer {
  background: var(--color-dark);
  color: var(--color-white);
}
.container.footer-container {
  padding: 30px 0;

  display: flex;
  align-items: center;
}
.footer-left,
.footer-right {
  flex: 1;
}

.footer-left > * {
  margin-right: 20px;
}
.footer-left {
  display: flex;
  align-items: center;
}
.footer-left .footer-left-store {
  display: flex;
}

.footer-left .footer-left-store .footer-left-store-item {
  display: flex;
  align-items: center;

  border: 1px solid var(--color-white);
  border-radius: var(--border-5);

  padding: 5px;
  margin-right: 10px;
}
.footer-left .footer-left-store .footer-left-store-item i {
  margin-right: 10px;
}
.footer-left .footer-left-socials i {
  margin-right: 10px;
}
/* ===== RESPONSIVE ====== */
/* medium devices like tablet */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-md);
  }

  /* ===== NAVBAR ===== */
  .nav-left .navigation .nav-lists a {
    font-size: 14px;
  }
  /* nav right */
  .nav-right a {
    padding: 10px;
    font-size: 14px;
  }
  .nav-right button {
    font-size: 14px;
    padding: 5px 10px;
  }
  /* ====== HEADER ====== */
  header {
    height: 70vh;
  }
  .header-left {
    padding-right: 20px;
  }
  .header-left .header-left-top {
    font-size: 30px;
  }
  /* ====== DESCRIPTION ====== */
  .container.description-container {
    padding: 20px 15px;
    background: var(--color-light-blue);
  }
  .description-wrapper {
    width: 100%;
  }

  /* ======== EXPLANATION ======= */
  .explanation-left,
  .explanation-right {
    padding: 15px;
  }
  .explanation-left-top img:nth-of-type(1) {
    width: 100%;
  }
  .explanation-left-top img:nth-of-type(2) {
    display: none;
  }
  .explanation-left-bottom img:nth-of-type(1) {
    width: 100%;
    height: 150px;
  }
  .explanation-left-bottom img:nth-of-type(2) {
    display: none;
  }
  /* ======== PARTICIPATE ====== */

  .participate-center {
    display: flex;
    flex-direction: column;
  }
  .participate-center .participate-center-items {
    margin-bottom: 20px;
  }

  /* ========= FOOTER ==========*/
  .container.footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-left {
    margin-bottom: 20px;
  }
}

/* small devices like phone */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-sm);
  }

  /* ===== NAVBAR ===== */
  .nav-menu,
  .nav-close {
    display: block;
    cursor: pointer;
  }
  .nav-left h1 {
    margin: 0;
  }
  .navigation {
    display: none;

    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgb(3, 3, 3, 0.2);
  }

  .nav-lists {
    width: 80%;
    margin: 0 auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;

    background: var(--color-white);
    border-radius: var(--border-5);
  }
  .nav-lists .nav-close i {
    float: right;
    padding: 5px;
    margin-right: 10px;

    font-size: 18px;
  }
  .nav-lists a {
    text-align: center;
  }

  /* ==== HEADER ==== */
  header {
    height: 70vh;
  }
  .container.header-container {
    background: url("img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
  }
  .header-left .header-left-top {
    color: var(--color-white);
  }
  .header-left .header-left-center p {
    color: var(--color-white);
    font-weight: 700;
  }
  .header-left .header-left-bottom button {
    font-weight: 700;
  }
  .header-left .header-left-bottom a {
    color: var(--color-white);
  }
  .header-right {
    display: none;
  }

  /* ====== DESCRIPTION ====== */
  .description-wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .description-right {
    border-left: none;
    border-top: 3px solid var(--color-icon-blue);
    padding-left: 0;
    padding-top: 20px;
  }

  /* ========= EXPLANATION ============= */
  .explanation-left-top,
  .explanation-left-bottom {
    padding: 0;
  }
  .explanation-left-top img:nth-of-type(1) {
    border-radius: 50%;
  }

  .explanation-left-bottom img:nth-of-type(1) {
    border-radius: 50%;
  }

  .explanation-right h2 {
    font-size: 24px;
  }
  .explanation-right p {
    font-size: 14px;
  }

  /* ====== FOOTER ====== */
  .footer-left {
    flex-direction: column;
    align-items: center;
  }
  .footer-left .footer-left-socials {
    margin-top: 20px;
    margin-right: 0;
  }
  .footer-left .footer-left-socials i {
    padding: 5px;
  }
}
